.busbox {
    width: 35px;
    /* border: 1px solid orangered; */
    background-color: lightgray;
    margin: 5px;
    float: left;
    text-align: center;
    font-weight: bold;
}

.bus-description {
    float: right;
} 