.busbox {
    width: 35px;
    /* border: 1px solid orangered; */
    background-color: lightgray;
    margin: 5px;
    float: left;
    text-align: center;
    font-weight: bold;
}

.circulator-box {
    width: auto;
    /* border: 1px solid orangered; */
    margin: 5px;
    float: left;
    text-align: center;
    font-weight: bold;
}

.bus-description {
    float: right;
} 

.resized-input {
    width: auto
}

.clickable-emoji {
    padding-left: 1em
}

.stopbox {
    margin: 5px;
    float: left;
    font-weight: bold;
    text-align: center;
}

.right-side-header {
    float: right;
}

.navbar-select {
    margin: 40px;
}